body{
    font-family: 'Trebuchet MS';
    background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQqZ50jgqIqdAj_fHVJTzcwH97J8A5bNO46LA&usqp=CAU");
    background-size: cover;
    text-align: center;
    font-weight: bold;
    
}
h1{
    color: goldenrod;

}

#message-el {
    font-style: italic;
}

button{
    color: #016f32;
    width: 150px;
    background: goldenrod;
    padding-top: 5px;
    font-weight: bold;
    border: none;
    border-radius: 2px;
}